/* Auth */
.auth-container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;
    position: relative;

    .auth-container-box {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        background-color:#ffffff;

        form {
            display: flex;
            flex-direction: column;
            height: 350px;
            padding: 20px;

            div {
                position: relative;

                input {
                    box-sizing: border-box;
                    width: 100%;
                }

                .eye {
                    position: absolute !important; 
                    top: 25px;
                    right: 20px;
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }

        .auth-options {
            display: flex;

            button {
                width: 50%;
                border: none;
                padding: 10px;
                color: rgb(35, 38, 47);
                cursor: pointer;
            }
        }
    }
}