/* Modal */

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        width: 500px;
        background-color:rgb(255, 255, 255);
        padding: 40px;
        margin: 0 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
        position: relative;

        .form-title-container {
            display: flex;
            justify-content: space-between;

            button {
                border: none;
                background-color: transparent;
                cursor: pointer;
                
                :active {
                    color: rgb(158, 44, 44);
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            font-size: 13px;
        }
    }
}

@media (max-width: 650px) {
    .overlay {
        align-items:flex-start;

        .modal {
            margin: 20px;
        }
    }
}