$palette: (
    edit: rgb(141, 181, 145),
    delete: rgb(255, 175, 163),
    create: rgb(108, 115, 148)
);

body {
    margin: 0;
    padding: 0;
    background-color: rgb(229, 238, 247);
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;

    .app {
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;
        border-radius: 10px;
        padding: 10px;
        width: 800px;
        margin-top: 50px;
        border: 0;
    }
}

.app {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    margin-top: 50px;
    border: 0;
}

.btn-container, .info-container {
    display: flex;
    align-items: center;
}

.btn-container button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 10px;
    cursor: pointer;
}

.edit {
    border: 1.5px solid map-get($palette, edit);
    color: map-get($palette, edit);
    background-color:transparent;
    text-transform: uppercase;

    :hover {
        background-color: rgb(204, 232, 207);
    }

    :active {
        color: rgb(255, 255, 255);
        background-color: map-get($palette, edit);
    }
}

.delete {
    border: 1.5px solid map-get($palette, delete);
    color: map-get($palette, delete);
    background-color:transparent;
    text-transform: uppercase;

    :hover {
        background-color: rgb(245, 227, 224);
    }

    :active {
        color: rgb(255, 255, 255);
        background-color: map-get($palette, delete);
    }
}

.create {
    border: 1.5px solid map-get($palette, create);
    color: map-get($palette, create);
    background-color:transparent;
    text-transform: uppercase;

    :hover {
        background-color: rgb(197, 200, 217);
    }

    :active {
        color: rgb(255, 255, 255);
        background-color: map-get($palette, create);
    }
}

.signout {
    border: 1.5px solid map-get($palette, delete);
    color: rgb(234, 234, 234);
    background-color: map-get($palette, delete);
    text-transform: uppercase;

    :hover {
        background-color: rgb(175, 94, 94);
        border: 1.5px solid rgb(175, 94, 94);
    }

    :active {
        color: rgb(255, 255, 255);
        background-color: map-get($palette, delete);
    }
}

input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(230,232,236);
}

.loading-icon {
    margin: 50px auto;
}

.copyright {
    font-size: 13px;
    margin: 10px;
    color: rgb(114,114,114);
}

.user-email {
    float: right;
    font-size: 13px;
    margin: 10px;
    color: rgb(114,114,114);
}