body {
    margin: 0;
    padding: 0;
    background-color: rgb(229, 238, 247);
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    margin-top: 50px;
    border: 0;
}

.btn-container, .info-conteiner {
    display: flex;
    align-items: center;
}

.btn-container button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 12px;
    /* background-color: transparent; */
    font-size: 10px;
    cursor: pointer;
}

.edit {
    border: 1.5px solid rgb(141, 181, 145);
    color: rgb(141, 181, 145);
    background-color:transparent;
    text-transform: uppercase;
}

.edit:hover {
    background-color: rgb(204, 232, 207);
}

.edit:active {
    color: rgb(255, 255, 255);
    background-color: rgb(141, 181, 145);
}

.delete {
    border: 1.5px solid rgb(255, 175, 163);
    color: rgb(255, 175, 163);
    background-color:transparent;
    text-transform: uppercase;
}

.delete:hover {
    background-color: rgb(245, 227, 224);
}

.delete:active {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 175, 193);
}

.create {
    border: 1.5px solid rgb(108, 115, 148);
    color: rgb(108, 115, 148);
    background-color:transparent;
    text-transform: uppercase;
}

.create:hover {
    background-color: rgb(197, 200, 217);
}

.create:active {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 115, 148);
}

.signout {
    border: 1.5px solid rgb(255, 175, 163);
    color: rgb(234, 234, 234);
    background-color: rgb(255, 175, 163);
    text-transform: uppercase;
}

.signout:hover {
    background-color: rgb(175, 94, 94);
    border: 1.5px solid rgb(175, 94, 94);
}

.signout:active {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 175, 163);
}

input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(230,232,236);
}

/* List Header */

.list-header {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}


/* List Item */
.list-item {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
}

.tick {
    padding: 10px;
}


/* Modal */

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    background-color:rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.modal .form-title-container {
    display: flex;
    justify-content: space-between;
}

.modal .form-title-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal .form-title-container button:active {
    color: red;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    font-size: 13px;
}

